<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--CONFIG FOR LOGS-->
		<add key="logPath" value="C:\Users\Public\Documents\" />

		<!--CONFIG TO CLIENT EMAIL-->
		<add key="CredLoginEmail" value="autoreplynewpassword@hotmail.com"/>
		<add key="CredPasswordEmail" value="c3NBqo7a"/>

		<!--CONFIG USERS FOR NOTIFY-->
		<add key="mailTo" value="rayhuehuebrblizz@hotmail.com"/>
		<add key="mailCopy" value=""/>

		<!--PERCENT TO CHANGE COINS IN THE DATABASE - DEFAULT IS 0.05-->
		<add key="percentChange" value="0.05"/>

	</appSettings>
	<connectionStrings>
		<add name="dataBaseString" connectionString="Data Source=Lucas\sqlexpress;Initial Catalog=Coins;Integrated Security=True;Pooling=False"/>
	</connectionStrings>
</configuration>